@page "/Account/ConfirmEmail"

@if (_isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <Blazor.Identity.UI.Components.Alert AlertMessage="_alertMessage" />

    @if (_isEmailConfirmed)
    {
        <Blazor.Identity.UI.Components.LoginForm />
    }
}
